
header {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: rgba(78,160,255,255);
    background:
}
figure{
    margin: 0 auto;
}
#logo{
    height: 50px;
    margin-top: 40px;
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.blue{
    color:rgba(88,190,235,255)
    ;
}
address{
    color: gray;
    font-style: normal;
}
#tim-images{
    margin-top: 30px;
}
p{
    font-size: 25px;
}
ul{
    padding-left: 20px;
}
#aside-title{
    color: lightgrey;
    margin-left: 10px;
    margin-top: 10px;
}

.first-row{
    background-color: rgb(84, 189, 250);
    color: white;
    
}
.second-row{
    background-color: lightblue;
}
.last-row{
    background-color: lightblue;
}
.ultima-colonna{
    width: 50%;
}
.img1{
    background-image: url(../img/monitor.jpg);
    width: 200px;
    height: 200px;
}
.img2{
    background-image: url(../img/graph.jpg);
    width: 200px;
    height: 200px;
}